header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  .navbar {
    padding-right: 48px;
    padding-left: 34px;
    .navbar-brand {
      margin-bottom: -30px;
    }
    .navbar-toggler {
      border: 0;
      outline: 0;
    }
    .navbar-collapse {
      .menu-mobile {
        .whats {
          margin-top: 205px;
          font-size: 30px;
          .whats-link {
            .fab {
              font-weight: 400;
            }
            color: $blue;
            font-size: 32px;
            font-weight: bold;
          }
        }
        .btn-geral {
          color: white;
          margin-top: 43px;
          margin-bottom: 71px;
        }
        .redes {
          padding-left: 17px;
          padding-bottom: 70px;
          a {
            color: $red;
            font-size: 26px;
            &:nth-child(1) {
              margin-right: 35px;
            }
          }
        }
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints,lg)) {
    position: absolute;
    top: -34px;
    background-color: transparent !important;
    padding: 40px 0 0;
    .navbar {
      .navbar-collapse {
        justify-content: flex-end;
        .menu-desktop {
          align-items: center;
          justify-content: space-between;
          .redes {
            display: flex;
            align-items: center;
            a {
              color: $yellow;
              font-size: 26px;
              &:nth-child(1) {
                margin-right: 35px;
              }
            }
            .btn-whats {
              margin-left: 28px;
              padding: 9px 10px 12px 18px;
              color: white;
              border: 1px solid white;
              border-radius: 8px;
              font-size: 18px;
              font-weight: 700;
              display: block;
              width: fit-content;
              .fab {
                font-weight: 400;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
.mask-header {
  height: 84px;
}
.lead-mobile {
  color: white;
  padding-top: 48px;
  padding-bottom: 111px;
  .titulo {
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    b {
      font-family: "Bebas Neue", cursive;
      font-size: 54px;
    }
  }
}
.lead-desktop {
  background: url(../img/bg-leads.png) center center no-repeat;
  background-size: cover;
  padding-top: 40px;
  height: 789px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  .titulo {
    font-size: 41px;
    b {
      font-size: 94px;
    }
  }
  small {
    font-size: 20px;
  }
}
