.carosel {
  position: relative;
  margin-top: -42px;
  .maquinas {
    .item {
      text-align: center;
    }
  }
  .tns-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 2;
    outline: 0;
    button {
      background: transparent;
      border: 0;
      outline: 0;
      color: $red;
      font-size: 24px;
    }
  }
}
.produtos {
  .cabecalho {
    padding: 0 65px;
    margin: 27px 0 53px;
    h2 {
      font-size: 40px;
    }
    i {
      font-size: 23px;
    }
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 18px;
  }
  ul {
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  .btn-geral {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 28px;
    &:hover {
      color: $blue;
    }
  }
  .foto-maquina-automatica {
    position: relative;
    padding: 42px 95px;
    text-align: center;
    img {
      margin-bottom: -85px;
    }
  }
  .foto-maquina-semiautomatica {
    position: relative;
    padding: 20px 100px;
    img {
      margin-bottom: -65px;
    }
    .selo {
      bottom: -45px;
      left: 34px;
    }
  }
  .foto-maquina-muitl {
    position: relative;
    padding: 23px 150px;
    img {
      margin-bottom: -68px;
    }
    .selo {
      bottom: -45px;
      left: 34px;
    }
  }
  .foto-maquina-profissional {
    padding: 80px 44px 22px;
    position: relative;
    img {
      margin-bottom: -65px;
    }
  }
  .maquina-automatica {
    padding: 63px 41px;
  }
  @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    .cabecalho {
      margin-top: 71px;
      margin-bottom: 92px;
      h2 {
        font-size: 61px;
        max-width: 638px;
        margin: 0 auto;
      }
      i {
        font-size: 30px;
      }
    }
    h2 {
      font-size: 42px;
    }
    .detalhe {
      height: 3px;
      position: relative;
      width: 604px;
      z-index: 5;
      margin: 25px 0 32px;
    }
    .maq-semi {
      .detalhe {
        width: 652px;
      }
    }
    .maq-prof {
      .detalhe {
        width: 620px;
      }
    }
    .maq-auto {
      .detalhe {
        width: 640px;
        margin-left: -105px;
      }
    }
    .maq-multi {
      .detalhe {
        width: 750px;
        margin-left: -210px;
      }
    }
    p {
      font-size: 18px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      // li{

      //   &:nth-child(2n){
      //     @include make-col(4)
      //   }
      //   &:nth-child(2n+1){
      //     @include make-col(8)
      //   }
      // }
    }
    .linha-produto {
      margin-bottom: 30px;
      &:nth-last-child(1) {
        margin-bottom: 80px;
      }
    }
    .btn-geral {
      max-width: 293px;
    }
    .foto-maquina-automatica {
      height: 482px;
      text-align: right;
      padding-right: 72px;
      position: relative;

      img {
        margin-bottom: 0px;
      }
    }
    .foto-maquina-semiautomatica {
      height: 482px;
      padding-left: 80px;
      position: relative;

      img {
        margin-bottom: 0px;
      }
      .selo {
        bottom: -22px;
        left: 295px;
      }
    }
    .foto-maquina-muitl {
      height: 482px;
      text-align: right;
      position: relative;
      padding-right: 80px;
      img {
        margin-bottom: 0px;
        position: relative;
        right: 100px;
      }
      .selo {
        bottom: -22px;
        right: 320px;
        left: auto;
      }
    }
    .foto-maquina-profissional {
      height: 482px;
      padding: 127px 48px 127px;

      position: relative;
      img {
        margin-bottom: 0px;
      }
    }
    .maquina-automatica {
      padding: 63px 34px;
    }
  }
}
.solucoes {
  padding: 44px 47px 200px;
  background-color: $grey;
  .cabecalho {
    i {
      font-size: 23px;
    }
    h2 {
      font-size: 40px;
      margin-bottom: 42px;
    }
  }
  .carosel-solucoes {
    margin-bottom: 53px;
    .item {
      text-align: center;
      .texto {
        margin-top: 10px;
      }
      i {
        font-weight: bold;
        font-size: 17px;
      }
    }
  }
  .tns-outer {
    position: relative;
  }
  .tns-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 2;
    outline: 0;
    button {
      background: transparent;
      border: 0;
      outline: 0;
      color: $blue;
      font-size: 24px;
    }
  }
  @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    .cabecalho {
      h2 {
        font-size: 61px;
      }
      i {
        font-size: 30px;
      }
    }
  }
}
